.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }

.image-grid-item {
    display: flex;
    flex-direction: column;
    text-align:left;
    margin: 0 10px;
}
  
.image-grid-item img {
    width: 200px;
    height: auto;
}
  
.image-grid-item p {
    margin-top: 10px;
}
  