/* SETTING UP HTML */
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
html {
    color: whitesmoke;
    background-image: url("../IMAGES/dark_sky_background.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

/* INSTANTIATION OF BACKGROUND GREY RECTANGE */
.background-shape {
    position: fixed;
    left: 50px;
    top: 50px;
    width: calc(100% - 100px);
    min-height: 635px;
    height: calc(100vh - 100px);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    z-index: -1;
}

/* CENTERING TITLE PAGE HEADERS */
.heading-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 25px;
    margin-top: 20px;
} .title {
    font-family: Odibee Sans;
    font-size: calc(37px + 1vw);
    margin-bottom: 0;
    text-decoration: underline;
} .subtitle {
    font-family: Odibee Sans;
    font-size: calc(8px + 1.5vw);
    margin-top: 2px;
}

/* ORGANIZES / STYLIZES THE BIOS */
.image-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: calc(95px - 7vw);
} .image-grid-item {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: #b1b1b1;
    align-items: center;
    border-radius: 6px;
    border: whitesmoke inset 3px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: calc(40px - 0.7vw);
    width: calc(100% - 140px);
    height: calc(100px + 2vw);
} .image-grid-item img {
    width: calc(95px + 4vw);
    margin-right: 10px;
    height: auto;
    border-radius: 6px;
    border: clamp(2.2px, 0.3vw, 3.5px) solid whitesmoke;
} .image-grid-item p {
    font-family: Space Mono;
    word-spacing: -1px;
    line-height: 1.4em;
    margin-top: 10px;
    font-size: clamp(7px, 1.8vw, 16px);
}

/* ALLOWS FOR LINK HOVER COLOR CHANGE */
a:hover {
    color: #fd3d3d !important;
    font-size: 1.015em;
    transition: font-size 0.15s ease-in-out;
} a:visited {
    color: #00ae00 !important;
}