/* SETTING UP HTML */
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
html {
    color: whitesmoke;
    background-image: url("../IMAGES/dark_sky_background.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

/* CENTERING TITLE PAGE HEADERS */
.heading-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 25px;
} .title {
    font-family: Odibee Sans;
    font-size:calc(5px + 5.5vw);
    margin-bottom: 0;
    text-decoration: underline;
} .subtitle {
    font-family: Odibee Sans;
    font-size:calc(8px + 1.5vw);
    margin-top: 2;
} .content-container {
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding-top: 10vw;
    margin-top: -10vw;
    margin-bottom: 50px;
} .the-blurb-itself {
    font-family: Space Mono;
    text-indent: 2em;
    font-size: 1.4vw;
    word-spacing: -1px;
    line-height: 1;
}