body {
    animation: transitionIn 1.5s;
  }
  @keyframes transitionIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }